In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
insurance = pd.read_csv('insurance2.csv')
insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Libraries We Borrow

In [3]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

# Create Column Transformer

In [17]:
ct = make_column_transformer(
    (MinMaxScaler(), ['age', 'bmi', 'children']),
    (OneHotEncoder(handle_unknown='ignore'), ['sex', 'smoker', 'region'])
)

# Create X and Y

In [7]:
X = insurance.drop('charges', axis=1)

In [8]:
y = insurance['charges']

# Build Train and Test Model

In [10]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit The Column

In [14]:
ct.fit(X_train)
X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)

In [16]:
X_train_normal

array([[0.60869565, 0.10734463, 0.4       , ..., 1.        , 0.        ,
        0.        ],
       [0.63043478, 0.22491256, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.73913043, 0.23944041, 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [0.86956522, 0.24791499, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.41304348, 0.85122411, 0.4       , ..., 0.        , 0.        ,
        1.        ],
       [0.80434783, 0.37503363, 0.        , ..., 0.        , 0.        ,
        1.        ]])

# Build Neural Network Regression For Normalized Data

In [21]:
tf.random.set_seed(42)

insurance_model_4 = tf.keras.Sequential([
                                         tf.keras.layers.Dense(100),
                                         tf.keras.layers.Dense(10),
                                         tf.keras.layers.Dense(1)
])

insurance_model_4.compile(
    loss = tf.keras.losses.mae,
    optimizer = tf.keras.optimizers.Adam(),
    metrics=['mae']
)

insurance_model_4.fit(tf.expand_dims(X_train_normal , axis=1), Y_train, epochs=100)

Epoch 1/100
34/34 [==============================] - 1s 2ms/step - loss: 13342.6475 - mae: 13342.6475
Epoch 2/100
34/34 [==============================] - 0s 1ms/step - loss: 13333.4785 - mae: 13333.4785
Epoch 3/100
34/34 [==============================] - 0s 1ms/step - loss: 13312.0234 - mae: 13312.0234
Epoch 4/100
34/34 [==============================] - 0s 1ms/step - loss: 13267.7930 - mae: 13267.7930
Epoch 5/100
34/34 [==============================] - 0s 1ms/step - loss: 13189.5850 - mae: 13189.5850
Epoch 6/100
34/34 [==============================] - 0s 1ms/step - loss: 13066.4502 - mae: 13066.4502
Epoch 7/100
34/34 [==============================] - 0s 1ms/step - loss: 12888.1953 - mae: 12888.1953
Epoch 8/100
34/34 [==============================] - 0s 2ms/step - loss: 12644.6523 - mae: 12644.6523
Epoch 9/100
34/34 [==============================] - 0s 2ms/step - loss: 12325.5469 - mae: 12325.5469
Epoch 10/100
34/34 [==============================] - 0s 1ms/step - loss: 11925.9658 - mae: 11925.9658
Epoch 11/100
34/34 [==============================] - 0s 1ms/step - loss: 11454.3350 - mae: 11454.3350
Epoch 12/100
34/34 [==============================] - 0s 1ms/step - loss: 10949.8086 - mae: 10949.8086
Epoch 13/100
34/34 [==============================] - 0s 1ms/step - loss: 10448.9404 - mae: 10448.9404
Epoch 14/100
34/34 [==============================] - 0s 1ms/step - loss: 9951.6250 - mae: 9951.6250
Epoch 15/100
34/34 [==============================] - 0s 1ms/step - loss: 9482.7422 - mae: 9482.7422
Epoch 16/100
34/34 [==============================] - 0s 1ms/step - loss: 9066.7461 - mae: 9066.7461
Epoch 17/100
34/34 [==============================] - 0s 1ms/step - loss: 8721.9854 - mae: 8721.9854
Epoch 18/100
34/34 [==============================] - 0s 2ms/step - loss: 8441.2002 - mae: 8441.2002
Epoch 19/100
34/34 [==============================] - 0s 1ms/step - loss: 8227.5117 - mae: 8227.5117
Epoch 20/100
34/34 [==============================] - 0s 2ms/step - loss: 8081.9775 - mae: 8081.9775
Epoch 21/100
34/34 [==============================] - 0s 2ms/step - loss: 7973.8945 - mae: 7973.8945
Epoch 22/100
34/34 [==============================] - 0s 2ms/step - loss: 7899.1597 - mae: 7899.1597
Epoch 23/100
34/34 [==============================] - 0s 1ms/step - loss: 7840.3916 - mae: 7840.3916
Epoch 24/100
34/34 [==============================] - 0s 1ms/step - loss: 7787.9619 - mae: 7787.9619
Epoch 25/100
34/34 [==============================] - 0s 1ms/step - loss: 7749.2622 - mae: 7749.2622
Epoch 26/100
34/34 [==============================] - 0s 2ms/step - loss: 7697.9595 - mae: 7697.9595
Epoch 27/100
34/34 [==============================] - 0s 1ms/step - loss: 7656.0273 - mae: 7656.0273
Epoch 28/100
34/34 [==============================] - 0s 2ms/step - loss: 7613.4771 - mae: 7613.4771
Epoch 29/100
34/34 [==============================] - 0s 1ms/step - loss: 7570.9482 - mae: 7570.9482
Epoch 30/100
34/34 [==============================] - 0s 2ms/step - loss: 7527.4175 - mae: 7527.4175
Epoch 31/100
34/34 [==============================] - 0s 1ms/step - loss: 7483.5947 - mae: 7483.5947
Epoch 32/100
34/34 [==============================] - 0s 2ms/step - loss: 7439.4419 - mae: 7439.4419
Epoch 33/100
34/34 [==============================] - 0s 1ms/step - loss: 7395.0552 - mae: 7395.0552
Epoch 34/100
34/34 [==============================] - 0s 1ms/step - loss: 7346.8120 - mae: 7346.8120
Epoch 35/100
34/34 [==============================] - 0s 1ms/step - loss: 7300.0488 - mae: 7300.0488
Epoch 36/100
34/34 [==============================] - 0s 2ms/step - loss: 7249.8452 - mae: 7249.8452
Epoch 37/100
34/34 [==============================] - 0s 2ms/step - loss: 7199.5303 - mae: 7199.5303
Epoch 38/100
34/34 [==============================] - 0s 1ms/step - loss: 7148.4805 - mae: 7148.4805
Epoch 39/100
34/34 [==============================] - 0s 2ms/step - loss: 7093.6650 - mae: 7093.6650
Epoch 40/100
34/34 [==============================] - 0s 2ms/step - loss: 7038.1797 - mae: 7038.1797
Epoch 41/100
34/34 [==============================] - 0s 2ms/step - loss: 6981.7393 - mae: 6981.7393
Epoch 42/100
34/34 [==============================] - 0s 2ms/step - loss: 6922.7847 - mae: 6922.7847
Epoch 43/100
34/34 [==============================] - 0s 1ms/step - loss: 6860.1724 - mae: 6860.1724
Epoch 44/100
34/34 [==============================] - 0s 1ms/step - loss: 6793.7969 - mae: 6793.7969
Epoch 45/100
34/34 [==============================] - 0s 1ms/step - loss: 6726.6201 - mae: 6726.6201
Epoch 46/100
34/34 [==============================] - 0s 1ms/step - loss: 6657.4683 - mae: 6657.4683
Epoch 47/100
34/34 [==============================] - 0s 1ms/step - loss: 6586.3086 - mae: 6586.3086
Epoch 48/100
34/34 [==============================] - 0s 1ms/step - loss: 6507.5063 - mae: 6507.5063
Epoch 49/100
34/34 [==============================] - 0s 1ms/step - loss: 6428.6021 - mae: 6428.6021
Epoch 50/100
34/34 [==============================] - 0s 1ms/step - loss: 6342.7100 - mae: 6342.7100
Epoch 51/100
34/34 [==============================] - 0s 2ms/step - loss: 6258.0718 - mae: 6258.0718
Epoch 52/100
34/34 [==============================] - 0s 1ms/step - loss: 6164.7046 - mae: 6164.7046
Epoch 53/100
34/34 [==============================] - 0s 1ms/step - loss: 6068.6748 - mae: 6068.6748
Epoch 54/100
34/34 [==============================] - 0s 1ms/step - loss: 5970.0981 - mae: 5970.0981
Epoch 55/100
34/34 [==============================] - 0s 1ms/step - loss: 5862.5625 - mae: 5862.5625
Epoch 56/100
34/34 [==============================] - 0s 1ms/step - loss: 5753.9526 - mae: 5753.9526
Epoch 57/100
34/34 [==============================] - 0s 1ms/step - loss: 5638.0942 - mae: 5638.0942
Epoch 58/100
34/34 [==============================] - 0s 1ms/step - loss: 5519.8691 - mae: 5519.8691
Epoch 59/100
34/34 [==============================] - 0s 1ms/step - loss: 5401.3198 - mae: 5401.3198
Epoch 60/100
34/34 [==============================] - 0s 1ms/step - loss: 5277.3501 - mae: 5277.3501
Epoch 61/100
34/34 [==============================] - 0s 2ms/step - loss: 5149.7637 - mae: 5149.7637
Epoch 62/100
34/34 [==============================] - 0s 2ms/step - loss: 5019.3535 - mae: 5019.3535
Epoch 63/100
34/34 [==============================] - 0s 1ms/step - loss: 4889.6865 - mae: 4889.6865
Epoch 64/100
34/34 [==============================] - 0s 1ms/step - loss: 4756.8560 - mae: 4756.8560
Epoch 65/100
34/34 [==============================] - 0s 1ms/step - loss: 4629.4365 - mae: 4629.4365
Epoch 66/100
34/34 [==============================] - 0s 1ms/step - loss: 4503.5991 - mae: 4503.5991
Epoch 67/100
34/34 [==============================] - 0s 2ms/step - loss: 4392.9917 - mae: 4392.9917
Epoch 68/100
34/34 [==============================] - 0s 2ms/step - loss: 4284.3862 - mae: 4284.3862
Epoch 69/100
34/34 [==============================] - 0s 2ms/step - loss: 4182.6182 - mae: 4182.6182
Epoch 70/100
34/34 [==============================] - 0s 2ms/step - loss: 4089.5725 - mae: 4089.5725
Epoch 71/100
34/34 [==============================] - 0s 2ms/step - loss: 4003.3901 - mae: 4003.3901
Epoch 72/100
34/34 [==============================] - 0s 1ms/step - loss: 3929.0093 - mae: 3929.0093
Epoch 73/100
34/34 [==============================] - 0s 1ms/step - loss: 3866.3110 - mae: 3866.3110
Epoch 74/100
34/34 [==============================] - 0s 1ms/step - loss: 3813.7144 - mae: 3813.7144
Epoch 75/100
34/34 [==============================] - 0s 1ms/step - loss: 3773.0315 - mae: 3773.0315
Epoch 76/100
34/34 [==============================] - 0s 1ms/step - loss: 3744.1995 - mae: 3744.1995
Epoch 77/100
34/34 [==============================] - 0s 1ms/step - loss: 3719.6870 - mae: 3719.6870
Epoch 78/100
34/34 [==============================] - 0s 2ms/step - loss: 3702.9114 - mae: 3702.9114
Epoch 79/100
34/34 [==============================] - 0s 1ms/step - loss: 3691.8792 - mae: 3691.8792
Epoch 80/100
34/34 [==============================] - 0s 2ms/step - loss: 3682.8347 - mae: 3682.8347
Epoch 81/100
34/34 [==============================] - 0s 2ms/step - loss: 3676.9763 - mae: 3676.9763
Epoch 82/100
34/34 [==============================] - 0s 1ms/step - loss: 3673.9492 - mae: 3673.9492
Epoch 83/100
34/34 [==============================] - 0s 1ms/step - loss: 3667.8452 - mae: 3667.8452
Epoch 84/100
34/34 [==============================] - 0s 1ms/step - loss: 3664.5757 - mae: 3664.5757
Epoch 85/100
34/34 [==============================] - 0s 2ms/step - loss: 3661.8562 - mae: 3661.8562
Epoch 86/100
34/34 [==============================] - 0s 1ms/step - loss: 3660.3047 - mae: 3660.3047
Epoch 87/100
34/34 [==============================] - 0s 1ms/step - loss: 3657.5134 - mae: 3657.5134
Epoch 88/100
34/34 [==============================] - 0s 1ms/step - loss: 3655.2202 - mae: 3655.2202
Epoch 89/100
34/34 [==============================] - 0s 1ms/step - loss: 3653.8831 - mae: 3653.8831
Epoch 90/100
34/34 [==============================] - 0s 1ms/step - loss: 3652.0193 - mae: 3652.0193
Epoch 91/100
34/34 [==============================] - 0s 1ms/step - loss: 3648.9990 - mae: 3648.9990
Epoch 92/100
34/34 [==============================] - 0s 1ms/step - loss: 3648.4463 - mae: 3648.4463
Epoch 93/100
34/34 [==============================] - 0s 2ms/step - loss: 3646.2300 - mae: 3646.2300
Epoch 94/100
34/34 [==============================] - 0s 2ms/step - loss: 3644.4375 - mae: 3644.4375
Epoch 95/100
34/34 [==============================] - 0s 1ms/step - loss: 3645.8772 - mae: 3645.8772
Epoch 96/100
34/34 [==============================] - 0s 2ms/step - loss: 3642.2576 - mae: 3642.2576
Epoch 97/100
34/34 [==============================] - 0s 1ms/step - loss: 3640.1189 - mae: 3640.1189
Epoch 98/100
34/34 [==============================] - 0s 1ms/step - loss: 3638.0647 - mae: 3638.0647
Epoch 99/100
34/34 [==============================] - 0s 1ms/step - loss: 3637.2051 - mae: 3637.2051
Epoch 100/100
34/34 [==============================] - 0s 1ms/step - loss: 3636.1707 - mae: 3636.1707

In [22]:
insurance_model_4.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 1, 100)            1200

 dense_10 (Dense)            (None, 1, 10)             1010

 dense_11 (Dense)            (None, 1, 1)              11

=================================================================
Total params: 2,221
Trainable params: 2,221
Non-trainable params: 0
_________________________________________________________________

In [24]:
insurance_model_4.evaluate(X_test_normal , Y_test )

WARNING:tensorflow:Model was constructed with shape (None, 1, 11) for input KerasTensor(type_spec=TensorSpec(shape=(None, 1, 11), dtype=tf.float64, name='dense_9_input'), name='dense_9_input', description="created by layer 'dense_9_input'"), but it was called on an input with incompatible shape (None, 11).
9/9 [==============================] - 0s 2ms/step - loss: 3438.7844 - mae: 3438.7844

[3438.784423828125, 3438.784423828125]

In [ ]:
# 34/34 [==============================] - 0s 887us/step - loss: 4697.8623 - mae: 4697.8623
# [4697.8623046875, 4697.8623046875]

# Import Libraries

In [25]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt

# Read The Insurance File

In [27]:
insurance_2 = pd.read_csv('insurance2.csv')
insurance_2

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

# Borrow Some Libraries

In [28]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

# Make Column Transformer

In [48]:
ct1 =  make_column_transformer(
    (MinMaxScaler(), ['age', 'bmi', 'children']),
    (OneHotEncoder(handle_unknown='ignore'), ['sex', 'smoke', 'region'])
)

# Create X and Y

In [49]:
X1 = insurance_2.drop('charges', axis=1)

In [50]:
Y1 = insurance_2['charges']

# Build Model for Train and Test Data

In [51]:
X_train, Y_train, X_test, Y_test = train_test_split(X1,Y1, test_size=0.2, random_state=42)

In [54]:
ct.fit(X_train)

ColumnTransformer(transformers=[('minmaxscaler', MinMaxScaler(),
                                 ['age', 'bmi', 'children']),
                                ('onehotencoder',
                                 OneHotEncoder(handle_unknown='ignore'),
                                 ['sex', 'smoker', 'region'])])